

header {
    background-color: #333333;
    width: 100%;
    height: auto;
  
    border: 2px solid white;
  }
  
  .fitnes {
    width: 150px;
  
    align-items: center;
  }
  div {
    display: flex;
  }
  .fa-bars {
    display: none !important;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    
    margin-left: auto;
    margin-right: 30px;
    
   
    
    
    
  }
  


  @media screen and (max-width: 1072px) {
    .fa-bars {
      display: block !important;

      
    }
    
    .p {
      display: none!important ;
    }
    
  }
  
 
  
  
  .p {
    display: flex;
    vertical-align: middle;
    font-size: 20px;
    
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
  }
  a{
    color: white;
  }
  .pp {
    width: 200px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .ppp {
    width: 50px;
    height: 25px;
   
    margin-left: 10px;
    background-color: #fc7f00;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .active {
    color: #fc7f00;
    padding: 20px;
  }
  
    .qq {
        font-size: 29px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
      }
  
  .t{
    margin-top: 10px;
    margin-left: 40px;
    font-family: "ALK Sanet", sans-serif;
  }

  .tt{
   text-align: center;
   font-size: 30px;
   font-family: "ALK Sanet", sans-serif;
     }

  footer {
  background-color: #333333;
  width: 100%;
  height: 70px;
  margin-top: 100px;
  display: flex;
}

.inst2 {
  margin-left: 50px;
  margin-top: 30px;
  color: #fc7f00;
  font-size: 18px;
}
.inst1 {
  margin-left: 50px;
  margin-top: 30px;
  color: #fc7f00;
  font-size: 18px;
}
.inst3 {
  margin-left: 50px;
  margin-top: 30px;
  color: #fc7f00;
  font-size: 18px;
}
.inst4 {
  margin-left: 50px;
  margin-top: 30px;
  color: #fc7f00;
  font-size: 18px;
}



.phone {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
}
.phone1 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
}
.phone2{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
}
.phone3{
 width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
}



@media screen and (max-width: 1288px){
    
  footer{
    width: 100%;
  }
  .inst2{
    display: none;
  }
  .inst3{
    font-size: 15px;
    margin-left: 5px;
    
  }
  .inst1{
    font-size: 10px;
  }
  .phone1{
    display: none;
  }

 
  

}
@media screen and (max-width: 500px){
  
  footer{
    width: 100%;
  }
  .inst2{
    display: none;
  
  }
  
  
  
  .phone{
    display: none;
  }
  .inst4{
    display: none;
  }
  .pp{
    display: none;
  }
  .ppp{
    display: none;
  }
  .phone3{
    margin-right:20px;
    margin-left: 10px;
  }
 
   }
   @media screen and (max-width:728px){
    .phone2{
      display: none;
    }
   .inst1{
    display: none;
   }
   .inst4{
    font-size: 10px;
    margin-left: 5px;
   }
   }
  